extends layout

block content   

    .container-fluid
        form(method="GET")
        select(id="selectGameSize" class="form-control" onchange="newGame()")
            option(value="0") New Game
            option(value="2") 2 Matches
            option(value="4") 4 Matches
            option(value="6") 6 Matches
            option(value="8") 8 Matches         
        #game-board.row-fluid 
            script restoreGame();